<div id="sequence-theme" class="sequence-inner">
	<div id="sequence">
		<form class="book-page" method="post">
			<div class="title">Đặt xe <strong>giá rẻ</strong></div>
			<p>Hãy nhập thông tin của bạn và nhấn nút <b>Đặt xe</b>, tổng đài của chúng tôi sẽ liên hệ sớm nhất có thể.</p>
			<input type="text" id="name" name="name" placeholder="Họ và tên">
			<input type="text" id="phone" name="phone" placeholder="Số điện thoại">
			<input type="text" id="add" name="add" placeholder="Địa chỉ">
			<input type="submit" name="submit" value="Đặt xe">
			<div class="form-area-bottom">&nbsp;</div>
		</form>
		<img class="prev" src="assets/images/bt-prev1.png" alt="Taxi noi bai" />
		<img class="next" src="assets/images/bt-next1.png" alt="Taxi noi bai" />
		<ul>
			<li class="animate-in">
				<div class="info">
					<h2>Hà Nội - Nội Bài (từ 150.000đ)</h2>
					<p>Nội Bài - Hà Nội (giảm tới 50.000đ)</p>
				</div>
				<img class="balloon" src="assets/images/balloon.png" alt="Taxi noi bai" />
			</li>
			<li>
				<div class="info">
					<h2>Nhanh chóng - An Toàn - Đúng Hẹn</h2>
					<p><i class="icon-phone-sign"></i><strong>(04) 35.666.000</strong></p>
				</div>
				<img class="aeroplane" src="assets/images/aeroplane.png" alt="Taxi noi bai" />
			</li>
			<li>
				<div class="info">
					<h2>Tổng đài hỗ trợ đặt xe hoạt động 24/7</h2>
					<p><i class="icon-phone-sign"></i><strong>(04) 35.666.000</strong></p>
				</div>
				<img class="kite" src="assets/images/kite.png" alt="Taxi noi bai" />
			</li>
		</ul>
	</div>
</div>